.pageSlider-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.pageSlider-enter.pageSlider-enter-active {
  opacity: 1;
}

.pageSlider-leave {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.pageSlider-leave.pageSlider-leave-active {
  opacity: 0;
}
