@font-face {
    font-family: Dubai;
    src: url("assets/fonts/DUBAI-MEDIUM_p30download.com.TTF");
}

.App {
    text-align: center;
}

/* PAGES */
.page-container {
    width: 100%;
    height: 100%;
    font-family: Oxygen, sans-serif;
}

.inner-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Button */
.btn {
    border: 0;
    border-radius: 3px;
    padding: 5px;
    font-size: 11px;
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 0 13px 2px rgba(15, 15, 15, 0.2);
    margin: 10px 0;
    cursor: pointer;
}

.Toastify__toast-body {
    font-family: Dubai;
}

.next-button {
    background-color: #2ce790;
    border: 0;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    position: absolute;
    box-shadow: 2px 2px 6px gray;
    font-family: Dubai;
    cursor: pointer;
}

.disagree {
    height: 20px;
    margin-right: 8px;
    margin-left: 8px;
    width: auto;
    transform: rotate(180deg);
}

.agree {
    margin-right: 8px;
    margin-left: 8px;
    height: 20px;
    width: auto;
}

.green {
    background-color: #25db9e;
    bottom: 200px;
    left: 100px;
}

.red {
    background-color: #db4f25;
    bottom: 140px;
    left: 100px;
}

/* Custom Setting */
.dialogue {
    height: 10%;
    width: 100%;
    background: url("assets/images/dialog1.png") no-repeat;
    background-size: 100%;
}

/* .video-content{
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
} */

.videoPlayer{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    left: 5%;
    top: 5%;
}
.video {
    height: 80vw;
    width: 40vw;
    background: url("assets/images/dialogue.png") no-repeat;
    /* display: flex; */
    flex-direction: column-reverse;
    background-size: contain;

}
.profile-image{
  height: 20vh;
}

.player{
    padding-left: 10%;
    display: flex;
    margin-top: 20%;
}

.profile {
    height: 20px;
    width: 20px;
    max-height: 100px;
}

.paragraph {
    margin-right: 50px;
    padding: 20px;
}

.form {
    width: 30%;
    height: 70%;
    background-image: url("assets/images/form.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    direction: rtl;
    position: absolute;
    bottom: 0;
    right: 8vw;
}

@media only screen and (max-width: 1200px) {
    .form-title {
        display: none;
    }
    .form{
        background-image: url("assets/images/mobileForm.png");
    }
}

.form-body {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 8%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-image {
    max-width: 500px;
    position: absolute;
    bottom: 0;
}

.field {
    border-radius: 50px;
    height: 24px;
    padding: 5px;
    margin-bottom: 4%;
}

.submit {
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 12px;
    min-width: 140px;
    background-color: #2ce790;
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 4px;
    box-shadow: 2px 2px 6px gray;
    align-self: center;
    margin-right: 8px;
}

.label {
    margin-top: 4px;
}

input {
    padding: 3px;
    margin-right: 8px;
    margin-bottom: 2%;
    font-family: Dubai;
}

button {
    font-family: Dubai;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

p {
    font-size: 20px;
}

.instagram {
    display: flex;
    direction: ltr;
    float: left;
    align-items: center;
    height: 40px;
    margin-left: 25px;
}

.insta-image {
    height: 25px;
    width: auto;
}

html {
    height: 100%;
}

/* Steps Page */
.step-1 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepOneBackground.jpg") no-repeat center ;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-1 .next-button {
    width: 15%;
    bottom: 10%;
    left: 5%;
}

.step-2 .next-button {
    width: 20%;
    top: 70%;
    left: 5%;
    position: relative;
    margin-top: 12px;
}

@media only screen and (max-width: 800px) {
    .step-2 .next-button {
        width: 30%;
        top: 60%;
    }
}


.step-2 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepTwoBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-3 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepThreeBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-3 .next-button {
    width: 25%;
    left: 5%;
    top: 70%;
    position: relative;
    margin-top: 12px;
}


@media only screen and (max-width: 800px) {
    .step-3 .next-button {
        width: 40%;
        top: 65%;
    }
}


.step-4 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepFourBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-4 .next-button {
    width: 15%;
    bottom: 10%;
    right: 5%;
}

.step-5 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepFiveBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-5 .next-button {
    width: 20%;
}

/* buttons css */
.step-5 .buttons {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* top: 60%;
    left: 8%; */
}


@media only screen and (max-width: 1500px) {
    .step-5 .buttons {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* top: 50%; */
    }

    .step-5 .red {
        left: 5%;
    }

    .step-5 .green {
        left: 35%;
    }

    .step-5 .next-button {
        width: 25%;
        bottom: 5%;
    }
}

.step-7 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepSixBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-7 .next-button {
    width: 15%;
    bottom: 10%;
    left: 5%;
}

.step-8 {
    height: 100vh;
    /* width: auto; */
    background: #e8e8e8 url("assets/images/stepSevenBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-8 .next-button {
    width: 25%;
    left: 10%;
    top: 70%;
    position: relative;
    margin-top: 12px;
}


@media only screen and (max-width: 800px) {
    .step-8 .next-button {
        width: 40%;
        top: 65%;
    }
}

.step-9 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepEightBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-9 .next-button {
    width: 20%;
    left: 10%;
    top: 70%;
    position: relative;
    margin-top: 12px;
}


@media only screen and (max-width: 800px) {
    .step-9 .next-button {
        width: 30%;
        top: 60%;
    }
}

.step-10 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepNineBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
}

.step-10 .next-button {
    width: 20%;

}

/* buttons css */
.step-10 .buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 80%;
    left: 5%;
}


@media only screen and (max-width: 1200px) {
    .step-10 .buttons {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 60%;
    }

    .step-10 .next-button {
        width: 12%;
    }

    .step-10 .red {
        left: 5%;
    }

    .step-10 .green {
        left: 35%;
    }

    .step-10 .next-button {
        width: 25%;
        bottom: 5%;
    }
}

/* .step-10 .red {
    bottom: 40%;
}

.step-10 .green {
    bottom: 50%;
} */

.step-11 {
    height: 100vh;
    width: auto;
    background: #e8e8e8 url("assets/images/stepTenBackground.jpg") no-repeat center;
    background-size: auto 100%;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    color: white;
}

