@font-face {
  font-family: Dubai;
  src: url("assets/fonts/DUBAI-MEDIUM_p30download.com.TTF");
}

.App {
  text-align: center;
}

/* PAGES */
.page-container {
  width: 100%;
  height: 100%;
  font-family: Oxygen, sans-serif;
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Button */
.btn {
  border: 0;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
  background-color: #3498db;
  color: #fff;
  box-shadow: 0 0 13px 2px rgba(15, 15, 15, 0.2);
  margin: 10px 0;
  cursor: pointer;
}
.next-button {
  background-color: #2ce790;
  border: 0px;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  position: absolute;
  box-shadow: 2px 2px 6px gray;
  font-family: Dubai;
}
.disagree {
  height: 20px;
  width: auto;
  transform: rotate(180deg);
}
.agree {
  height: 20px;
  width: auto;
}
.green {
  background-color: #25db9e;
  bottom: 200px;
  left: 100px;
}
.red {
  background-color: #db4f25;
  bottom: 140px;
  left: 100px;
}

/* Custom Setting */
.dialogue {
  height: 260px;
  width: 600px;
  background: url("assets/images/dialog1.png") no-repeat;
  background-size: contain;
}
.dialogue2 {
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 600px;
  background: url("assets/images/dialog2.png") no-repeat;
  background-size: contain;
}

.video {
  display: flex;
  align-self: center;
  justify-self: center;
  left: 3px;
}
.profile {
  height: 170px;
  width: auto;
}
.tip {
  display: flex;
  direction: rtl;
  position: absolute;
  left: 100px;
  top: 100px;
}
.paragraph {
  margin-right: 50px;
  padding: 20px;
}
.form {
  width: 320px;
  height: 420px;
  background-image: url("./form.png");
  background-repeat: no-repeat;
  background-size: contain;
  direction: rtl;

  position: absolute;
  bottom: 0vw;
  right: 8vw;
}
.form-body {
  margin-left: 30px;
  margin-right: 30px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-image {
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 5vw;
}
.field {
  border-radius: 50px;
  height: 30px;
  padding: 5px;
  margin-bottom: 8px;
}
.submit {
  margin-top: 8px;
  margin-bottom: 24px;
  min-width: 200px;
  background-color: #2ce790;
  border: 0px;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  box-shadow: 2px 2px 6px gray;
  align-self: center;
}
input {
  padding: 3px;
  font-family: Dubai;
}
button {
  font-family: Dubai;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
p {
  font-size: 20px;
}
.instagram {
  display: flex;
  direction: ltr;
  float: left;
  align-items: center;
  height: 40px;
  margin-left: 25px;
}
.insta-image {
  height: 25px;
  width: auto;
}

/* Steps Page */
.step-1 {
  height: 100vh;
  width: auto;
  background: #e8e8e8 url("assets/images/stepOneBackground.png") no-repeat left;
  background-size: 100%;
}

.step-1 .next-button {
  min-width: 150px;
  bottom: 80px;
  left: 100px;
}
.step-2 .next-button {
  min-width: 200px;
}
.step-2 {
  height: 100vh;
  background: #e8e8e8 url("assets/images/stepTwoBackground.png") no-repeat right;
  background-size: 100%;
}
.step-3 {
  height: 100vh;
  background: #e8e8e8 url("../public/p3.png") no-repeat right;
  background-size: 100%;
}
.step-4 {
  height: 100vh;
  background: #e8e8e8 url("../public/p4.png") no-repeat;
  background-size: 100%;
}
.step-4 .next-button {
  min-width: 150px;
  bottom: 80px;
  right: 100px;
}
.step-5 {
  height: 100vh;
  background:#e8e8e8 url("../public/p5.png") no-repeat;
  background-size: 100%;
}
.step-5 .next-button {
  min-width: 150px;
  left: 30%;
}
.step-5 .red {
  bottom: 5vh;
}
.step-5 .green {
  bottom: 14vh;
}
.step-7 {
  height: 100vh;
  background: #e8e8e8 url("../public/p6.png") no-repeat;
  background-size: 100%;
}
.step-7 .next-button {
  min-width: 150px;
  bottom: 80px;
  left: 100px;
}
.step-8 {
  height: 100vh;
  background: #e8e8e8 url("../public/p7.png") no-repeat;
  background-size: 100%;
}
.step-8 .next-button {
  min-width: 320px;
  left: 200px;
}
.step-9 {
  height: 100vh;
  background:#e8e8e8 url("../public/p8.png") no-repeat;
  background-size: 100%;
}
.step-9 .next-button {
  min-width: 250px;
  left: 200px;
}
.step-10 {
  height: 100vh;
  background: #e8e8e8 url("../public/p9.png") no-repeat right;
  background-size: 100%;
}
.step-10 .next-button {
  min-width: 250px;
  left: 200px;
  bottom: 300px;
}
.step-10 .red {
  bottom: 240px;
}
.step-10 .green {
  bottom: 300px;
}
.step-11 {
  height: 100vh;
  background: #e8e8e8 url("../public/p10.png") no-repeat;
  background-size: 100%;
  position: relative;
  align-items: center;
  color: white;
}
