@font-face {
  font-family: Dubai;
  src: url("assets/fonts/DUBAI-MEDIUM_p30download.com.TTF");
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PAGES */
.page-container {
  width: 100%;
  height: 100%;
  font-family: Oxygen, sans-serif;
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Button */
.btn {
  border: 0;
  border-radius: 3px;
  padding: 5px;
  font-size: 11px;
  background-color: #3498db;
  color: #fff;
  box-shadow: 0 0 13px 2px rgba(15, 15, 15, 0.2);
  margin: 10px 0;
  cursor: pointer;
}
.next-button {
  background-color: #2ce790;
  border: 0px;
  border-radius: 40px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  position: absolute;
  box-shadow: 2px 2px 6px gray;
  font-family: Dubai;
}
.disagree {
  height: 20px;
  width: auto;
  transform: rotate(180deg);
}
.agree {
  height: 20px;
  width: auto;
}
.green {
  background-color: #25db9e;
  bottom: 200px;
  left: 100px;
}
.red {
  background-color: #db4f25;
  bottom: 140px;
  left: 100px;
}

/* Steps Page */
.step-1 {
  height: 100vh;
  width: auto;
  background: #e8e8e8 url("assets/images/stepOneBackground.png") no-repeat left;
  background-size: 100%;
}

.step-1 .next-button {
  min-width: 150px;
  bottom: 80px;
  left: 100px;
}
.step-2 .next-button {
  min-width: 200px;
}
.step-2 {
  height: 100vh;
  background: #e8e8e8 url("assets/images/stepTwoBackground.png") no-repeat right;
  background-size: 100%;
}

